.header {
    height: 50px;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

/*.header__refresh {*/
/*    background: url(i/refresh.svg) no-repeat;*/
/*}*/

/*.header__search {*/
/*    background: url(i/search.svg) no-repeat;*/
/*}*/