.header {
    position: sticky;
    top: 0;
    z-index: 11;
    height: 50px;
    background: #fff;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.header__refresh {
    width: 24px;
    height: 24px;
    background: url(i/refresh.svg) 50%/100% no-repeat;
}

.header__search {
    width: 24px;
}