.cart {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 999;
    padding: 10px 15px;
}

.cart__title {
    margin: 10px 0;
    font: 600 20px / 22px "Montserrat", sans-serif;
    text-align: center;
}

.cart__close {
    position: absolute;
    top: 15px;
    right: 15px;
    background: none;
    border: none;
    font-size: 30px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background: #ddd;
    border-radius: 50%;
    backdrop-filter: blur(10px);
}

.cart__input {
    position: relative;
    border: 1px solid #d5d5d5;
    text-align: left;
    border-radius: 8px;
    font: 700 20px / 24px "Montserrat", sans-serif;
    height: 50px;
    width: 100%;
    padding: 2px 16px 0 16px;
    margin: 10px 0;
}

.cart__items {
    margin: 20px 0;
}

.cart__empty {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font: 500 18px/20px "Montserrat", sans-serif;
}

.cart__goToMenu {
    margin: 20px 0 0 0;
    border-radius: 8px;
    padding: 10px 15px;
    background: #2DC36A;
    color: #fff;
    font: 600 18px / 20px "Montserrat", sans-serif;
    transition: 0.3s ease;
}

.cart__goToMenu:active {
    transform: scale(0.95);
}

.cart__total {
    font: 500 18px / 20px "Montserrat", sans-serif;
    background: #f2f2f2;
    padding: 10px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.cart__submit {
    background: #31BC6B;
    height: 50px;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    font: 800 19px / 19px "Montserrat", sans-serif;
    color: #fff;
    position: fixed;
    bottom: 20px;
    right: 10px;
    left: 10px;
    transition: transform 200ms ease;
}

.cart__submit:active {
    transform: scale(0.95);
}

.cart__success {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    font: 500 18px/20px "Montserrat", sans-serif;
}

.cart__successIco {
    width: 100px;
    height: 100px;
    margin: 20px 0;
    background: url(./i/success.svg) no-repeat 50% 50% / 100px auto;
}

.cart__spinner {
    width: 24px;
    height: 24px;
    border: 3px solid #FFF;
    border-bottom-color: transparent;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}