.warning {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(255,255,255, 0.8);
    backdrop-filter: blur(10px);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.warning__text {
    font: 500 20px/20px 'Montserrat', sans-serif;
    text-wrap: balance;
    color: #000;
    text-align: center;
}